<%- include('../partials/header') %>
<h1 style="text-align:center;">Create new Comment to <%= campground.name%></h1>

    <div style="width: 30%;margin: 100px auto;">
        <form action="/campground/<%= campground._id%>/comments" method="POST">
            <!-- <div class="form-group">
                <input class="form-control" type="text" placeholder="author" name="comments[author]">
            </div> -->
            <div class="form-group">
                <input class="form-control" type="text" placeholder="comment" name="comments[text]">
            </div>
            <input class="form-control btn btn-primary" type="submit">
        </form>
        <a href="/campground/<%=campground._id%>">Go Back</a>

    </div>


<%- include('../partials/footer') %>
